.form-bg {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 14px 6px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 49px 49px;
  padding-bottom: 20px;
  display: flex;
}

.printerest-image-container {
  width: 55%;
}

.printerest-pic {
  width: 100%;
  height: 100%;
}

.vertical-line {
  min-height: fit-content;
  border: 1px solid rgba(87, 17, 17, 0.36);
}

.user-form-container {
  margin-left: 25px;
  margin-right: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 962px) {
  .form-bg {
    display: flex;
    flex-direction: column;
  }
  .printerest-image-container {
    width: 100%;
    margin-bottom: 15px;
  }
  .user-form-container {
    flex-grow: 0;
    margin-top: 15px;
    /* width: 100%; */
  }
}

.form-heading-container {
  background: #007d99;
  box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  padding: 8px;
  margin-bottom: 5px;
}
.form-heading {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  font-size: 23px;
  line-height: 23px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-heading-para {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;

  color: #ffffff;
}

.form-container {
  background: #ffffff;
  box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px;
}

.user-inputs-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 18px;
}

.form-images {
  background: #ffffff;
}

.input-element {
  border: none;
  border-bottom: 0.25px solid #888080;
  border-radius: 0px;
  margin-left: 15px;
  outline: none;
}

.select-input-element {
  background-color: #f5f5f5;
  border-radius: 24px;
}

.submit-btn {
  background-color: #007d99;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  color: #ffffff;
  border-width: 0px;
  padding: 0.5rem;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
}
